@charset "UTF-8";

@import url(/icons/simple-line-icons/css/simple-line-icons.css);
@import url(/icons/material-design-iconic-font/materialdesignicons.min.css);

* {
  outline: none;
}

.body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
  height: 100%;
}

html {
  position: relative;
}

a {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  line-height: 40px;
  font-size: 36px;
}

h2 {
  line-height: 36px;
  font-size: 24px;
}

h3 {
  line-height: 30px;
  font-size: 21px;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

h5 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}

h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.content-body .container {
  padding: 45px 30px 0;
}

@media (max-width: 767px) {
  .content-body .container {
    padding: 15px 15px 0;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99999999999999999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icons a {
  position: relative;
}

.icons.active .drop-down {
  display: block;
}

.drop-down {
  display: none;
  z-index: 9999;
  width: 275px;
  position: absolute;
  right: 0;
  top: 60px;
  transition: all 0.4s ease-in-out;
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-top: 0;
}

.dropdown-content-heading span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.dropdown-content-body ul > li {
  float: none;
  line-height: 1.25;
  padding: 10px 15px;
}

.dropdown-content-body ul > li:last-child {
  padding: 10px 15px;
  line-height: 1.25;
}

.more-link {
  display: inline-block;
}

.dropdown-profile {
  width: 225px;
}

.dropdown-profile li {
  padding: 7px 15px;
}

.dropdown-profile li a {
  display: block;
}

.dropdown-profile li a i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.dropdown-profile li a span {
  font-family: "Poppins", sans-serif;
}

.dropdown-profile li:last-child {
  padding: 7px 15px;
}

.fix-header .header {
  position: fixed;
}
.fix-header .content-body {
  padding-top: 60px;
}

.fix-sidebar .nk-sidebar {
  position: fixed;
}
.fix-sidebar .nk-sidebar.mini-nav {
  position: absolute;
}

.header {
  width: 100%;
  height: 60px;
  z-index: 99999998;
  position: relative;
  padding: 0 15px;
}

.nav-header {
  height: 60px;
  width: 250px;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
.nav-header .brand-logo a {
  padding: 10px 10px;
  display: block;
}
.nav-header .brand-logo a i {
  font-size: 22px;
}
.nav-header .brand-logo a b img {
  max-width: 25px;
}
.nav-header .brand-logo a span {
  font-size: 18px;
  margin-left: 7px;
}
.nav-header .brand-title img {
  max-width: 120px;
  margin-top: 2px;
}

.nav-control {
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  right: -45px;
  top: 10px;
}

.header-content {
  margin-left: 250px;
}

.footer {
  margin-left: 250px;
  position: absolute;
  left: 0;
  right: 0;
}
.footer .copyright {
  padding: 15px;
}
.footer .copyright p {
  margin: 0;
}

.header-left {
  float: left;
  margin-left: 35px;
  line-height: 60px;
}

.header-left .icons {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 5px;
  position: relative;
}

.header-left .icons > a {
  padding: 0 5px;
}

.header-left .drop-down {
  left: 0;
  top: 7px;
}

.header-right {
  float: right;
  line-height: 60px;
}

.header-right .icons {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 5px;
  position: relative;
}
.header-right .icons > a {
  padding: 0 5px;
}

.nav-label {
  padding: 13px 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.content-body {
  margin-left: 250px;
  z-index: 0;
}

.nk-sidebar {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 60px;
  padding-top: 0;
  z-index: 1001;
  padding-bottom: 70px;
}
.nk-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nk-sidebar .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nk-sidebar .metismenu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.nk-sidebar .metismenu > li a > i {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
}
.nk-sidebar .metismenu a {
  position: relative;
  display: block;
  padding: 13px 15px;
  outline-width: 0;
  transition: all 0.3s ease-out;
}
.nk-sidebar .metismenu ul a {
  padding: 10px 15px 10px 45px;
}
.nk-sidebar .metismenu ul ul a {
  padding: 10px 15px 10px 60px;
}
.nk-sidebar .metismenu a {
  transition: all 0.4s ease-in-out;
}
.nk-sidebar .metismenu a:hover, .nk-sidebar .metismenu a:focus, .nk-sidebar .metismenu a:active {
  text-decoration: none;
}
.nk-sidebar .metismenu .has-arrow:after {
  transform: rotate(135deg) translateY(-50%);
}

@media (min-width: 768px) {
  .mini-nav .nav-header {
    width: 60px;
  }
  .mini-nav .nav-header .brand-logo b img {
    margin-top: 7px;
  }
  .mini-nav .nav-header .brand-title {
    display: none;
  }
  .mini-nav .header-content {
    margin-left: 60px;
  }
  .mini-nav .footer {
    margin-left: 60px;
  }
  .mini-nav .footer {
    margin-left: 60px;
  }
  .mini-nav .nav-user {
    padding: 20px 15px 15px;
  }
  .mini-nav .nav-user img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
  .mini-nav .nav-user h5,
  .mini-nav .nav-user p {
    display: none;
  }
  .mini-nav .nav-user i {
    margin-top: 15px;
    display: block;
  }
  .mini-nav .nav-user .dropdown-menu {
    left: 45px !important;
    top: 22px !important;
  }
  .mini-nav .content-body {
    margin-left: 60px;
  }
  .mini-nav .nk-sidebar {
    width: 60px;
    overflow: visible;
    position: absolute;
  }
  .mini-nav .nk-sidebar .nav-text {
    display: none;
  }
  .mini-nav .nk-sidebar .slimScrollDiv,
  .mini-nav .nk-sidebar .nk-nav-scroll {
    overflow: visible !important;
  }
  .mini-nav .nk-sidebar .metismenu li {
    position: relative;
  }
  .mini-nav .nk-sidebar .metismenu li > ul {
    position: absolute;
    left: 60px;
    top: 47px;
    width: 190px;
    z-index: 1001;
    display: none;
    padding-left: 1px;
  }
  .mini-nav .nk-sidebar .metismenu > li {
    transition: all 0.4s ease-in-out;
  }
  .mini-nav .nk-sidebar .metismenu > li:hover > a {
    width: 250px;
    background: #343a40;
  }
  .mini-nav .nk-sidebar .metismenu > li:hover > a .nav-text {
    display: inline-block;
    padding-left: 27px;
  }
  .mini-nav .nk-sidebar .metismenu > li:hover > ul {
    display: block;
    height: auto !important;
    overflow: auto;
  }
  .mini-nav .nk-sidebar .metismenu > li:hover > ul a {
    padding: 10px 15px 10px 15px;
    margin-left: -1px;
  }
  .mini-nav .nk-sidebar .metismenu > li:hover > ul ul a {
    padding: 10px 15px 10px 30px;
    margin-left: -1px;
  }
  .mini-nav .nk-sidebar .metismenu .has-arrow:after {
    display: none;
  }
  .mini-nav .nk-sidebar .metismenu .nav-label,
  .mini-nav .nk-sidebar .metismenu .nav-badge {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    position: fixed;
  }

  .nav-header {
    width: 60px;
  }
  .nav-header .brand-title {
    display: none;
  }

  .header-content {
    margin-left: 60px;
  }

  .footer {
    margin-left: 0;
  }

  .nk-sidebar {
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 0;
  }

  .mini-nav .nk-sidebar {
    left: -100%;
  }

  .content-body {
    margin-left: 0;
    padding-top: 60px;
  }
}

.hamburger {
  display: inline-block;
  left: 0;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 37px;
  z-index: 999;
}

.hamburger .line {
  display: block;
  height: 2px;
  margin: 5px auto;
  width: 22px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3) {
  width: 10px;
  height: 2px;
}

.hamburger.is-active .line:nth-child(2) {
  transform: translateX(-6px);
  width: 16px;
  height: 2px;
}

.hamburger.is-active .line:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

.card {
  margin-bottom: 30px;
  border: 0;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.body.v-dark h1,
.body.v-dark h2,
.body.v-dark h3,
.body.v-dark h4,
.body.v-dark h5,
.body.v-dark h6 {
  color: #ddd;
}

.body.v-dark .icons > a i {
  color: #ddd;
}
.body.v-dark .drop-down {
  background: #151538;
  color: #abafb3;
  border: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-dark .dropdown-content-heading span {
  color: #abafb3;
}
.body.v-dark .dropdown-content-heading i {
  color: #9068be;
}
.body.v-dark .dropdown-content-body li {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-dark .dropdown-content-body li.active, .body.v-dark .dropdown-content-body li:focus, .body.v-dark .dropdown-content-body li:hover {
  background: #0e0e26;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-dark .dropdown-content-body li a {
  color: #abafb3;
}
.body.v-dark .dropdown-content-body li a.active, .body.v-dark .dropdown-content-body li a:focus, .body.v-dark .dropdown-content-body li a:hover {
  color: #abafb3;
}

.body.v-dark .dropdown-profile li a {
  color: #abafb3;
}
.body.v-dark .dropdown-profile li a.active, .body.v-dark .dropdown-profile li a:focus, .body.v-dark .dropdown-profile li a:hover {
  color: #abafb3;
}

.body.v-dark .header {
  background: #0e0e26;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-dark .nav-header {
  background: #070713;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-dark .footer .copyright {
  background: #0e0e26;
}
.body.v-dark .header-left .icons > a {
  color: #173e43;
}

.body.v-dark .header-right .icons > a {
  color: #173e43;
}

.body.v-dark .nav-user h5 {
  color: #ddd;
}

.body.v-dark .nav-user-option .dropdown-menu a {
  color: #abafb3;
}
.body.v-dark .nav-user-option .dropdown-menu a:hover, .body.v-dark .nav-user-option .dropdown-menu a:focus, .body.v-dark .nav-user-option .dropdown-menu a.active {
  background: #0e0e26;
  color: #9068be;
}
.body.v-dark .nav-label {
  color: #ddd;
}
.body.v-dark .nk-sidebar {
  background: #0e0e26;
}
.body.v-dark .nk-sidebar ul {
  background: #020204;
}
.body.v-dark .nk-sidebar .metismenu {
  background: #0e0e26;
}
.body.v-dark .nk-sidebar .metismenu a {
  color: #abafb3;
}
.body.v-dark .nk-sidebar .metismenu > li:hover > a, .body.v-dark .nk-sidebar .metismenu > li:focus > a {
  background: #9068be;
  color: #ddd;
}
.body.v-dark .nk-sidebar .metismenu > li.active > a {
  background: #9068be;
  color: #ddd;
}
.body.v-dark .nk-sidebar .metismenu li ul li:hover a, .body.v-dark .nk-sidebar .metismenu li ul li:focus a {
  color: #9068be;
}
.body.v-dark .nk-sidebar .metismenu li ul li.active a {
  color: #9068be;
}
@media (min-width: 768px) {
  .body.v-dark .mini-nav .nk-sidebar .metismenu li > ul {
    background: #f2f6f8;
  }
  .body.v-dark .mini-nav .nk-sidebar .metismenu > li:hover > a {
    background: #343a40;
  }
}
.mini-nav .nk-sidebar .nav-text {
  display: none;
}
.body.v-dark .hamburger .line {
  background-color: #abafb3;
}

.body.v-light {
  background: #F1F4F5;
  color: #678098;
}

.body.v-light h1,
.body.v-light h2,
.body.v-light h3,
.body.v-light h4,
.body.v-light h5,
.body.v-light h6 {
  color: #454545;
}

.body.v-light .icons > a i {
  color: #454545;
}
.body.v-light .drop-down {
  background: #fff;
  color: #000;
  border: 1px solid rgba(120, 130, 140, 0.13);
}

.body.v-light .dropdown-content-body li {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-light .dropdown-content-body li.active, .body.v-light .dropdown-content-body li:focus, .body.v-light .dropdown-content-body li:hover {
  background: #f5f5f5;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-light .dropdown-content-body li a {
  color: #678098;
}
.body.v-light .dropdown-content-body li a.active, .body.v-light .dropdown-content-body li a:focus, .body.v-light .dropdown-content-body li a:hover {
  color: #678098;
}

.body.v-light .dropdown-profile li a {
  color: #678098;
}
.body.v-light .dropdown-profile li a.active, .body.v-light .dropdown-profile li a:focus, .body.v-light .dropdown-profile li a:hover {
  color: #678098;
}

.body.v-light .header {
  background: #fff;
  box-shadow: 0 0 10px rgba(120, 130, 140, 0.13);
}
.body.v-light .nav-header {
  background: #fff;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.body.v-light .footer .copyright {
  background: white;
}
.body.v-light .header-left .icons > a {
  color: #173e43;
}

.body.v-light .header-right .icons > a {
  color: #173e43;
}

.body.v-light .nav-user h5 {
  color: #454545;
}

.body.v-light .nav-user-option .dropdown-menu a {
  color: #678098;
}
.body.v-light .nav-user-option .dropdown-menu a:hover, .body.v-light .nav-user-option .dropdown-menu a:focus, .body.v-light .nav-user-option .dropdown-menu a.active {
  background: white;
}
.body.v-light .nav-label {
  color: #454545;
}
.body.v-light .nk-sidebar {
  background: #fff;
  box-shadow: 0 0 10px rgba(120, 130, 140, 0.13);
}
.body.v-light .nk-sidebar ul {
  background: #fafafa;
}
.body.v-light .nk-sidebar .metismenu {
  background: #fff;
}
.body.v-light .nk-sidebar .metismenu a {
  color: #678098;
}
.body.v-light .nk-sidebar .metismenu > li:hover > a, .body.v-light .nk-sidebar .metismenu > li:focus > a {
  background: #f9f7fb;
  color: #9068be;
}
.body.v-light .nk-sidebar .metismenu > li.active > a {
  background: #f9f7fb;
  color: #9068be;
}
.body.v-light .nk-sidebar .metismenu li ul li:hover a, .body.v-light .nk-sidebar .metismenu li ul li:focus a {
  color: #9068be;
}
.body.v-light .nk-sidebar .metismenu li ul li.active a {
  color: #9068be;
}
@media (min-width: 768px) {
  .body.v-light .mini-nav .nk-sidebar .metismenu li > ul {
    background: #f2f6f8;
  }
  .body.v-light .mini-nav .nk-sidebar .metismenu > li:hover > a {
    background: #343a40;
  }
  .body.v-light .mini-nav .nk-sidebar .metismenu > li:hover > a .nav-text {
    color: #fff;
  }
}
.body.v-light .hamburger .line {
  background-color: #678098;
}

.body.v-light .card {
  background: #fff;
  border: 1px solid #fff;
}
.body.v-light .text-white .card-title {
  color: #fff;
}
.body.v-light .card-title {
  color: #454545;
}

@media (min-width: 480px) and (max-width: 679px) {
  .header-left .drop-down {
    top: 60px;
  }
}

@media (min-width: 360px) and (max-width: 479px) {
  .icons {
    position: static !important;
  }
  .icons .drop-down {
    width: 100%;
  }
  .icons .dropdown-profile {
    width: 175px;
  }

  .header-left .drop-down {
    top: 60px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .icons {
    position: static !important;
  }
  .icons .drop-down {
    width: 100%;
  }
  .icons .dropdown-profile {
    width: 175px;
  }

  .header-left .drop-down {
    top: 60px;
  }
}

.metismenu .arrow {
  float: right;
  line-height: 1.42857
}

[dir=rtl] .metismenu .arrow {
  float: left
}

.metismenu .plus-minus {
  float: right
}

[dir=rtl] .metismenu .plus-minus {
  float: left
}

.metismenu .collapse {
  display: none
}

.metismenu .collapse.in {
  display: block
}

.f-s-20 {
  font-size: 20px !important
}

.f-s-26 {
  font-size: 26px !important
}

.f-s-30 {
  font-size: 30px !important
}

.f-s-36 {
  font-size: 36px !important
}

.f-w-500 {
  font-weight: 500
}

.m-t-0 {
  margin-top: 0 !important
}

.m-t-20 {
  margin-top: 20px !important
}

.m-r-15 {
  margin-right: 15px !important
}

.m-b-0 {
  margin-bottom: 0 !important
}

.grouping-date {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sorting-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

.total-values-container {
  display: flex;
  justify-content: space-between;
}
